@font-face {
    font-family: "head2";
    src: url('../assets/VarelaRound-Regular.ttf'); 
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "head1";
    src: url('../assets/Creepster-Regular.ttf');
}
@font-face {
    font-family: "body";
    src: url('../assets/Mooli-Regular.ttf');
}

:root{
    --txtclrH: #723d46;
    --txtclrH2: #eb5e28;

    --liclr1: #004178;
    --liclr2: #a81213;
    --liclr3: #037848;
    --liclr4: #e1077e;
    --liclr5: #632e20;

    --bgclr: #f0efeb;
    --btnclr: #ffcb69;
    --btntxt: #15616d;
    
}

html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img1.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat;
}
.restName {
    font-size: 5rem;
    text-align: center;
    font-family: 'head1';
    font-weight: 400;
    margin-bottom: 0px;
    color: var(--txtclrH);
}

#content {
    width: 85ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--txtclr);
    background-color: var(--bgclr);
    height: 100vh;
    padding: 0px 100px 100px 100px;
    font-family: 'body';
}

.btn {
    display: flex;
    gap: 50px;
}
.about, .menu {
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    border: none;
    box-shadow: 3px 3px grey;
    color: var(--btntxt);
    background-color: var(--btnclr);
    font-family: 'head2';
}
.about:active, .menu:active {
    box-shadow: inset 3px 3px grey;
}
.about:hover, .menu:hover {
    opacity: 0.7;
}

.body {
    font-size: 1.5rem;
}

span:nth-child(1) {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--txtclrH2);
}

span:last-child {
    font-style: italic;
}

.textArea{
    width: 70ch;
    text-align: justify;
    padding-top: 20px;
}

.menuLi li {
    list-style: none;
    border-bottom: 1px solid grey;
}

.menuLi {
    margin-top: 0px;
}

li:nth-child(1) span {
    color: var(--liclr1);
}
li:nth-child(2) span {
    color: var(--liclr2);
}
li:nth-child(3) span {
    color: var(--liclr3);
}
li:nth-child(4) span {
    color: var(--liclr4);
}
li:nth-child(5) span {
    color: var(--liclr5);
}


